<% layout ('layouts/boilerplate') %> 

<div class="row">
    <div class="col-4 offset-4">
           <div class="card">
        <div class="card-body">
        <div class="card-title">
            <h4 class='text-center'>Name</h4>
        </div>
        <div class="card">
            <ul class="list-group list-group-flush">
                <% for (let product of products) { %>
                <span class="list-group-item"><%= product.name %>
                
                <a class="btn btn-primary float-end" href="/inventory/<%= product._id %>">Details</a>
                </span>
               <% } %>
            </ul>
        </div>
        </div>
    </div>
    </div>
</div>